<mat-card *ngIf="!isLogged" class="example-card">
    <mat-card-header>
        <mat-card-title>{{ isRegister ? 'Register' : 'Login' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="userName" name="username" required>
            </mat-form-field>
            <mat-checkbox formControlName="isRegister" (change)="onRegisterAccount($event)">Do not have an account? Sign
                up for a new one!
            </mat-checkbox>
            <mat-form-field [hidden]="!isRegister" class="example-full-width">
                <input matInput placeholder="Display Name" formControlName="displayName" name="displayName" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                    required>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [disabled]="isRegister" (click)="login()" color="primary">Login</button>
        <button mat-raised-button [disabled]="!isRegister" (click)="register()" color="accent">Register</button>
    </mat-card-actions>
</mat-card>