.d-inherit {
  display: flex;
  flex-wrap: wrap;
}
.card {
  min-width: 240px;
  display: inline-flex !important;
  max-width: 270px;
  height: 250px;
  &__header {
    height: 71px;
    &__title {
      width: 215px;
    }
  }
  &__content {
    flex-grow: 1;
    max-height: 80px;
    overflow: auto;
    margin-bottom: 0;
  }
  &__footer {
    margin: 10px;
    padding: 16px;
    align-self: center;
  }
}

.mat-card-header-text {
  margin: 0 !important;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 300px;
  height: 310px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
