<div class="page-layout carded fullwidth inner-scroll"
     fusePerfectScrollbar>
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent"
             fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutAlign="center center"
             fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row"
                 fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16"
                          role="img"
                          aria-hidden="true"> shopping_basket </mat-icon><span class="logo-text h1"> Restaurants </span>
            </div>
            <div class="search mx-32 mx-md-0"
                 fxLayout="row">
                <div class="search__container"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     style="padding: 0px 18px;">
                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                              role="img"
                              aria-hidden="true"
                              class="search__container__icon">search</mat-icon>
                    <input class="ng-tns-c80-1993 search__container__input-lg"
                           placeholder="{{ 'PLACEHOLDER.SEARCH' | translate }}">
                </div>
            </div>
            <button class="mt-24 mt-md-0"
                    mat-raised-button
                    color="primary"
                    (click)="onCreate()">{{ 'BUTTON.CREATE' |  translate }}</button>
        </div>
        <div class="content-card">
            <!-- <ngx-datatable #myDataTable
                           class="material full-table"
                           [headerHeight]="50"
                           [limit]="10"
                           [columnMode]="ColumnMode.force"
                           [footerHeight]="50"
                           rowHeight="auto"
                           [trackByProp]="'updated'"
                           [rows]="dataSource"
                           [sortType]="SortType.multi">
                <ngx-datatable-column name="{{ 'Name' | translate }}"></ngx-datatable-column>
                <ngx-datatable-column name="{{ 'Location' | translate }}"></ngx-datatable-column>
                <ngx-datatable-column name="{{ 'Phone' | translate }}"></ngx-datatable-column>
                <ngx-datatable-column name="{{ 'Actions' | translate }}">
                    <ng-template let-element="row"
                                 ngx-datatable-cell-template>
                        <button mat-icon-button
                                class="pr-3"
                                (click)="onEdit(element)">
                            <mat-icon aria-hidden="false"
                                      aria-label="Edit restaurant">edit</mat-icon>
                        </button>
                        <button mat-icon-button
                                class="pr-3"
                                (click)="onDelete(element)">
                            <mat-icon aria-hidden="false"
                                      aria-label="Delete restaurant">delete</mat-icon>
                        </button>
                        <button mat-icon-button
                                class="pr-3"
                                (click)="onGotoMenu(element)">
                            <mat-icon aria-hidden="false"
                                      aria-label="Goto menu">menu</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable> -->
            <div class="table-container">
                <table mat-table
                       [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell
                            *matHeaderCellDef> Name </th>
                        <td mat-cell
                            *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Location Column -->
                    <ng-container matColumnDef="location">
                        <th mat-header-cell
                            *matHeaderCellDef> Location </th>
                        <td mat-cell
                            *matCellDef="let element"> {{element.location}} </td>
                    </ng-container>

                    <!-- Phone Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell
                            *matHeaderCellDef> Phone </th>
                        <td mat-cell
                            *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell
                            *matHeaderCellDef> Actions </th>
                        <td mat-cell
                            *matCellDef="let element">
                            <button mat-icon-button
                                    class="pr-3"
                                    (click)="onEdit(element)">
                                <mat-icon aria-hidden="false"
                                          aria-label="Edit restaurant">edit</mat-icon>
                            </button>
                            <button mat-icon-button
                                    class="pr-3"
                                    (click)="onDelete(element)">
                                <mat-icon aria-hidden="false"
                                          aria-label="Delete restaurant">delete</mat-icon>
                            </button>
                            <button mat-icon-button
                                    class="pr-3"
                                    (click)="onGotoMenu(element)">
                                <mat-icon aria-hidden="false"
                                          aria-label="Goto menu">menu</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>