.full-table {
    height: 100%;
    ::ng-deep .visible {
        height: 100%;
        display: flex;
        flex-direction: column;

        datatable-footer {
            border-top: solid 1px rgba(0, 0, 0, 0.12);
        }
    }
}

.table-container {
    height: 100%;
    overflow-y: auto;
    border-bottom: solid 1px #e0e0e0;
    table {
        width: 100%;
        th.mat-sort-header-sorted {
            color: black;
        }
    }
}
