<h1 mat-dialog-title>{{ data.id ? 'Edit menu item' : 'Add menu item' }}</h1>
<div mat-dialog-content
     class="h-232">
    <mat-form-field>
        <input matInput
               placeholder="{{ 'COMMON.COLUMN.NAME' | translate }}"
               [(ngModel)]="data.name" />
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="{{ 'COMMON.COLUMN.PRICE' | translate }}"
               [(ngModel)]="data.price" />
    </mat-form-field>
    <mat-form-field>
        <input matInput
               placeholder="{{ 'COMMON.COLUMN.NOTES' | translate }}"
               [(ngModel)]="data.notes" />
    </mat-form-field>
    <div class="mat-item">
        <mat-checkbox matInput
                      [(ngModel)]="data.isActive">{{ 'COLUMN.IS_AVAILABLE' | translate }}</mat-checkbox>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button
            (click)="onCancel()">{{ 'BUTTON.CANCEL' | translate }}</button>
    <button mat-raised-button
            color="primary"
            [mat-dialog-close]="data"
            cdkFocusInitial>
        {{ 'BUTTON.SAVE' | translate }}
    </button>
</div>