span {
  margin-left: 10px;
}
div {
  margin-top: 10px;
}
.price-red {
  color: red;
}

.price-green {
  color: green;
}
.order-items {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
}
