<div class="pb-4">
    <button mat-raised-button color="accent">Create</button>
    <div class="mat-item">
        <div style="max-width: 250px">
            <mat-label>Restaurant: </mat-label>
            <mat-select (selectionChange)="onRestaurantSelected($event)" [(value)]="restaurantId">
                <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.uid">
                    {{ restaurant.name }}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="mat-item">
        <div style="max-width: 350px">
            <mat-label>Booking time: </mat-label>
            <mat-select (selectionChange)="onBookingSelected($event)" [(value)]="bookingId">
                <mat-option *ngFor="let booking of bookings" [value]="booking.uid">
                    {{ booking.bookingFrom | date: 'dd.MM.y - HH:mm' }} to
                    {{ booking.bookingTo | date: 'dd.MM.y - HH:mm' }}
                </mat-option>
            </mat-select>
        </div>
    </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Display Name Column -->
    <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Display Name</th>
        <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Booking Information Column -->
    <!-- <ng-container matColumnDef="bookingInfo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Information</th>
        <td mat-cell *matCellDef="let element">
            <div>
                From: {{ element.bookingInfo.bookingFrom | date: 'dd.MM.y - HH:mm' }}
            </div>
            <div>
                To: {{ element.bookingInfo.bookingTo | date: 'dd.MM.y - HH:mm' }}
            </div>
        </td>
    </ng-container> -->

    <!-- Order Items Column -->
    <ng-container matColumnDef="orderItems">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Items</th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let orderItem of element.orderItems">
                {{ orderItem.name }}({{ orderItem.amount }}) - {{ orderItem.price }}
            </div>
        </td>
    </ng-container>

    <!-- Order Date Column -->
    <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
        <td mat-cell *matCellDef="let element">{{ element.orderDate | date: 'dd.MM.y HH:mm' }}</td>
    </ng-container>

    <!-- Total Price Column -->
    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</th>
        <td mat-cell *matCellDef="let element">{{ element.totalPrice | currency:'VND'}}</td>
    </ng-container>

    <!-- Is Paid Column -->
    <ng-container matColumnDef="isPaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Paid</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.isPaid" aria-hidden="false" aria-label="Paid" title="Paid">check_circle</mat-icon>
        </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button [disabled]="element.isPaid" mat-icon-button (click)="onPayOrder(element)" title="Pay an order">
                <mat-icon aria-hidden="false" aria-label="Pay an order">payment</mat-icon>
            </button>
            <button mat-icon-button (click)="onRemindPayment(element)" title="Remind for payment">
                <mat-icon aria-hidden="false" aria-label="Remind for payment">notification_important</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>