<div class="pb-4">
    <button mat-raised-button color="accent">Create</button>
    <div style="max-width: 250px">
        <mat-label>Restaurant: </mat-label>
        <mat-select (selectionChange)="onRestaurantSelected($event)" [(value)]="restaurantId">
            <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.uid">
                {{restaurant.name}}
            </mat-option>
        </mat-select>
    </div>
    <!-- <div style="max-width: 250px">
        <mat-label>Booking time: </mat-label>
        <mat-select (selectionChange)="onBookingSelected($event)" [(value)]="bookingId">
            <mat-option *ngFor="let booking of bookings" [value]="booking.uid">
                {{booking.name}}
            </mat-option>
        </mat-select>
    </div> -->
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Display Name Column -->
    <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Display Name</th>
        <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="bookingInfo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Information</th>
        <td mat-cell *matCellDef="let element">{{ element.bookingInfo.bookingFrom | date: 'dd.MM.y' }} - {{ element.bookingInfo.bookingTo | date: 'dd.MM.y' }}</td>
    </ng-container>

    <!-- Order Date Column -->
    <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
        <td mat-cell *matCellDef="let element">{{ element.orderDate | date: 'dd.MM.y' }}</td>
    </ng-container>

    <!-- Total Price Column -->
    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Price</th>
        <td mat-cell *matCellDef="let element">{{ element.totalPrice | currency:'VND'}}</td>
    </ng-container>

    <!-- Is Paid Column -->
    <ng-container matColumnDef="isPaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Paid</th>
        <td mat-cell *matCellDef="let element">{{ element.isPaid }}</td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onShowDetails(element)">
                <mat-icon aria-hidden="false" aria-label="Show details">search</mat-icon>
            </button>
            <button mat-icon-button (click)="onRemindPayment(element)">
                <mat-icon aria-hidden="false" aria-label="Remind payment">notification_important</mat-icon>
            </button>
            <!-- <button mat-icon-button (click)="onDelete(element)">
                <mat-icon aria-hidden="false" aria-label="Delete booking">delete</mat-icon>
            </button> -->
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>