.card {
  min-width: 240px;
  display: inline-flex;
  max-width: 270px;
  &__header {
    height: 71px;
    &__title {
      width: 215px;
    }
  }
  &__footer {
    margin: 10px;
    padding: 16px;
  }
}
