<mat-card class="m-3">
    <mat-list class="p-0">
        <mat-list-item class="h-25" *ngFor="let item of cart">
            <div matLine>{{ item.name }}</div>
            <span matLine> {{ item.price | currency:'VND' }} </span>
            <button mat-icon-button (click)="subtractAmount(item)">
                <mat-icon aria-hidden="false" aria-label="Subtract amount">remove_circle</mat-icon>
            </button>
            <span> {{ item.amount }} </span>
            <button mat-icon-button (click)="addAmount(item)">
                <mat-icon aria-hidden="false" aria-label="Add amount">add_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteItem(item)">
                <mat-icon aria-hidden="false" aria-label="Delete item">delete</mat-icon>
            </button>
            <mat-form-field matLine>
                <textarea matInput placeholder="Notes" [(ngModel)]="item.note">{{ item.note }</textarea>
            </mat-form-field>
        </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <div class="p-3 d-flex justify-content-between total">
        <mat-label>Total: </mat-label>
        <mat-label class="font-weight-bold total__amount">{{ orderService.calculatePrice(cart) | currency:'VND' }}
        </mat-label>
    </div>
</mat-card>

<div class="d-flex justify-content-between">
    <button mat-raised-button class="m-3" color="basic" [disabled]="!(cart && cart.length > 0)" (click)="clearOrder()">
        Clear</button>
    <button mat-raised-button class="m-3" color="primary" [disabled]="!(cart && cart.length > 0)"
        (click)="proceedOrder()">Proceed
        Order</button>
</div>