<div id="error-404"
     class="container"
     fxlayout="column"
     fxlayoutalign="center center">
    <div class="content container"
         fxlayout="column"
         fxlayoutalign="center center">
        <div class="error-code">404</div>
        <div class="message">Sorry but we could not find the page you are looking for</div>
        <div class="search"
             fxlayout="row"
             fxlayoutalign="start center">
            <mat-icon class="icon s-24 mat-icon notranslate material-icons mat-icon-no-color"
                      role="img"
                      aria-hidden="true">search</mat-icon><input fxflex=""
                   placeholder="Search for something"
                   style="flex: 1 1 0%; box-sizing: border-box;">
        </div><a class="back-link"
           href="/main">Go back to Main</a>
    </div>
</div>