$gray-400: #c2cfe0 !default;
$primary: #109cf1 !default;
$spinner-size: 60px !default;

.header-item {
  text-decoration: none;
  font-weight: bold;
}

.align-between {
  justify-content: space-between;
}

.spinner {
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 10000;
}

.spacer {
  flex: 1 1 auto;
}

.background {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo {
  width: 65px;
}
.container-full {
  height: calc(100vh - 60px);
}

mat-list-item.menu-item:hover {
  border-bottom: 1px solid pink;
}
