<mat-toolbar class="align-between">
  <div>
    <a class="header-item" [routerLink]="['']">
      bbv Pantry
    </a>
    <button *ngIf="isLogged" mat-icon-button aria-label="Settings" [matMenuTriggerFor]="spaces">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #spaces="matMenu">
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToAdmin()"
        [matMenuTriggerFor]="adminSection">Admin</button>
      <button mat-menu-item (click)="goToUser()" [matMenuTriggerFor]="userSection">User</button>
    </mat-menu>
    <mat-menu #adminSection="matMenu">
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToRestaurant()">Restaurant</button>
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToMenu()">Menu</button>
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToBooking()">Booking</button>
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToOrder()">Order</button>
    </mat-menu>
    <mat-menu #userSection="matMenu">
      <button mat-menu-item (click)="goToUser()">Order</button>
      <button mat-menu-item (click)="goToUserHistory()">History</button>
    </mat-menu>
  </div>
  <button *ngIf="isLogged" mat-raised-button color="accent" (click)="logOut()">Logout</button>
</mat-toolbar>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<app-notification></app-notification>

<div *ngIf="isLoading" class="background">
  <mat-spinner class="spinner" strokeWidth="5" [diameter]="60"></mat-spinner>
</div>