<mat-toolbar class="align-between">
  <div class="d-flex">
    <a class="header-item pr-3 align-self-center text-decoration-none hyperlink" style="color: #D32F42;">
      <img src="{{ assetsUrl + 'images/logo.svg' }}" class="logo pr-2" alt="{{ 'bbv Pantry' }}" />
      App
    </a>
    <button mat-icon-button aria-label="Settings" (click)="menu.toggle()" #buttonMenu>
      <!-- <button *ngIf="isLogged && authService.isAdmin" mat-icon-button aria-label="Settings" [matMenuTriggerFor]="spaces"> -->

      <mat-icon>menu</mat-icon>
    </button>
    <!-- <div *ngIf="isLogged && !authService.isAdmin">
      <button mat-raised-button aria-label="Settings" color="primary" (click)="goToUser()" class="mx-2">
        Order
      </button>
      <button mat-raised-button aria-label="Settings" color="primary" (click)="goToUserHistory()" class="mx-2">
        History
      </button>
    </div> -->
    <!-- <mat-menu #spaces="matMenu">
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToAdmin()"
        [matMenuTriggerFor]="adminSection">Admin</button>
      <button mat-menu-item [matMenuTriggerFor]="userSection">User</button>
    </mat-menu>
    <mat-menu #adminSection="matMenu">
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToRestaurant()">Restaurant</button>
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToMenu()">Menu</button>
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToBooking()">Booking</button>
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToOrder()">Order</button>
      <button mat-menu-item *ngIf="authService.isAdmin" (click)="goToUserManagement()">User Management</button>
    </mat-menu>
    <mat-menu #userSection="matMenu">
      <button mat-menu-item (click)="goToUser()">Order</button>
      <button mat-menu-item (click)="goToUserHistory()">History</button>
    </mat-menu> -->
  </div>
  <span class="spacer"></span>
  <div *ngIf="haveLogin || isLogged">
    <p class="m-0 px-3" [matMenuTriggerFor]="belowMenu">
      <button mat-mini-fab *ngIf="loggedUser"
        matTooltip="{{ loggedUser.displayName ? loggedUser.displayName + ' - ' : '(empty) - ' }}{{ loggedUser.email }}">{{profileName}}</button>
      <button *ngIf="!loggedUser" mat-mini-fab matTooltip="Login">Login</button>
    </p>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item *ngIf="loggedUser" (click)="profile()">Profile</button>
      <button mat-menu-item *ngIf="loggedUser" color="accent" (click)="logOut()">Logout</button>
      <button mat-menu-item *ngIf="!loggedUser" color="accent" (click)="logIn()">Login</button>
      <button mat-menu-item *ngIf="!loggedUser" color="accent" (click)="gotoRegister()">Register</button>
    </mat-menu>
  </div>


</mat-toolbar>
<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #menu [mode]='over' class='slide-bar-menu'>
    <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
     
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        
        <button mat-icon-button disabled></button>
        <button mat-menu-item>{{node.name}}</button>
        <mat-divider [inset]="true"></mat-divider>
      </mat-tree-node>
      
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree> -->
    <mat-accordion>
      <!-- <div *ngIf="isPantryApp else myAppMenu">
        <mat-expansion-panel *ngIf="authService.isAdmin">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Admin
            </mat-panel-title> -->
      <!-- <mat-panel-description>
                  Type your name and age
                </mat-panel-description> -->
      <!-- </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="menu-item" *ngIf="authService.isAdmin" (click)="goToRestaurant()">Restaurant
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu-item" *ngIf="authService.isAdmin" (click)="goToMenu()">Menu</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu-item" *ngIf="authService.isAdmin" (click)="goToBooking()">Booking</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu-item" *ngIf="authService.isAdmin" (click)="goToOrder()">Order</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu-item" *ngIf="authService.isAdmin" (click)="goToUserManagement()">User Management
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel> -->
      <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"> -->
      <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              User
            </mat-panel-title> -->
      <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
      <!-- </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="menu-item" *ngIf="isLogged" (click)="goToUser()">Order</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu-item" *ngIf="isLogged" (click)="goToUserHistory()">History</mat-list-item>
            <mat-list-item class="menu-item" (click)="goToMenuHappyHours()">Menu</mat-list-item>
            <mat-list-item class="menu-item" (click)="goToRegisters()">Registers</mat-list-item>

          </mat-list>

        </mat-expansion-panel>
      </div> -->


      <!-- <ng-template #myAppMenu> -->
      <mat-list>
        <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('pm-web')}" (click)="gotoPmWeb()">PM Web
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('project-planner')}"
          (click)="gotoPlanner()">Project Planner</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="menu-item" class='disabled'>
          Performance Review
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class=" menu-item" class="disabled">Proficiency Evaluation</mat-list-item>
        <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)='haveLogin = true' (click)="gotoPantry()">
            <mat-panel-title>
              Pantry
            </mat-panel-title>
            <!-- <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-list *ngIf="!authService.isAdmin else adminMenu">
            <mat-list-item class="menu-item" *ngIf="isLogged" [ngClass]="{active: isActiveMenuItem('order')}"
              (click)="gotoUserOrder()">Order</mat-list-item>
            <mat-list-item class="menu-item" *ngIf="isLogged" [ngClass]="{active: isActiveMenuItem('history')}"
              (click)="goToUserHistory()">History</mat-list-item>
            <mat-expansion-panel>
              <mat-expansion-panel-header (click)="goToMenuHappyHours()">
                <mat-panel-title [ngClass]="{active: isActiveMenuItem('happy-hours')}">
                  Happy hour
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('happy-hours')}"
                    (click)="goToMenuHappyHours()">Happy hour</mat-list-item> -->
              <mat-list>
                <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('registers')}"
                  (click)="goToRegisters()">Registers</mat-list-item>
              </mat-list>
            </mat-expansion-panel>

          </mat-list>
          <ng-template #adminMenu>
            <mat-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    User
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item class="menu-item" *ngIf="isLogged" [ngClass]="{active: isActiveMenuItem('order')}"
                    (click)="gotoUserOrder()">Order</mat-list-item>
                  <mat-list-item class="menu-item" *ngIf="isLogged" [ngClass]="{active: isActiveMenuItem('history')}"
                    (click)="goToUserHistory()">History</mat-list-item>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header (click)="goToMenuHappyHours()">
                      <mat-panel-title>
                        Happy hour
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('happy-hours')}"
                      (click)="goToMenuHappyHours()">Happy hour</mat-list-item> -->
                    <mat-list>
                      <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('registers')}"
                        (click)="goToRegisters()">Registers</mat-list-item>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-list>

              </mat-expansion-panel>
              <mat-expansion-panel *ngIf="authService.isAdmin">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Admin
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                                Type your name and age
                              </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('restaurant')}"
                    (click)="goToRestaurant()">Restaurant
                  </mat-list-item>

                  <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('menu')}" (click)="goToMenu()">
                    Menu</mat-list-item>

                  <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('booking')}"
                    (click)="goToBooking()">Booking
                  </mat-list-item>

                  <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('admin/order')}"
                    (click)="goToOrder()">Order
                  </mat-list-item>

                  <mat-list-item class="menu-item" [ngClass]="{active: isActiveMenuItem('user-management')}"
                    (click)="goToUserManagement()">User
                    Management
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <!-- <mat-list-item class="menu-item" *ngIf="isLogged" (click)="goToUser()">Order</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item class="menu-item" *ngIf="isLogged" (click)="goToUserHistory()">History</mat-list-item>
                    <mat-list-item class="menu-item" (click)="goToMenuHappyHours()">Menu</mat-list-item>
                    <mat-list-item class="menu-item" (click)="goToRegisters()">Registers</mat-list-item> -->
            </mat-list>
          </ng-template>

        </mat-expansion-panel>
      </mat-list>
      <!-- </ng-template> -->

    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content class="container-full">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-notification></app-notification>
<div *ngIf="isLoading" class="background">
  <mat-spinner class="spinner" strokeWidth="5" [diameter]="60"></mat-spinner>
</div>

<div class="footer">© 2019 by (Thanh Nguyen - Toan Nguyen), Release 1.0.0</div>