$gray-400: #c2cfe0 !default;
$primary: #109cf1 !default;
$spinner-size: 60px !default;

.header-item {
  text-decoration: none;
  font-weight: bold;
}

.align-between {
  justify-content: space-between;
}

.spinner {
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 10000;
}

.spacer {
  flex: 1 1 auto;
}

.background {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo {
  width: 65px;
}
.container-fluid {
  // height: calc(100vh - 60px);
  overflow-y: hidden;
}

mat-list-item.menu-item:hover {
  border-bottom: 1px solid pink;
}
.slide-bar-menu {
  min-width: 16%;
  padding-top: 60px;
}
.example-container {
  height: calc(100vh - 21px);
  padding-top: 60px;
}
.align-between {
  position: fixed;
  /* top: 0; */
  z-index: 999;
}
mat-list-item {
  cursor: pointer;
}
mat-list-item.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  text-decoration: none;
}
.footer {
  width: 100%;
  height: 5px;
  color: #aaaaaa;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
mat-list-item.active {
  font-weight: bold;
  color: #d32f42;
  font-style: italic;
  border-bottom: 1px solid pink;
}
mat-list > mat-expansion-panel {
  box-shadow: none;
}

.mat-expansion-panel-header {
  padding: 0px 15px;
  font-size: 16px;
}
mat-icon.red-color {
  color: #d32f42;
}
