<mat-card class="example-card">
    <h4 class="pb-3 m-0">
        Reset Password
    </h4>
    <mat-card-content class="mb-0">
        <div class="pb-2">
            {{ 'Please enter your email and we will send you instructions to reset your password.' }}
        </div>
        <form class="example-form" [formGroup]="resetForm" (keydown)="submitResetPasword($event)">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="userName" name="username" required>
                <mat-hint>This email is used for verification. Please use the real email.</mat-hint>
            </mat-form-field>
        </form>
        <!-- Forgot password -->
        <div>
            {{ 'Remember your account credential?' }} <a href="javascrip:void();"
                (click)="gotoLogin()">{{ 'Log In!' }}</a>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="p-2">
            <button mat-raised-button (click)="resetPassword()" color="primary">Reset
                Password</button>
        </div>
    </mat-card-actions>
</mat-card>