<mat-label>Current Date: </mat-label>
<span>{{ currentDate | date: 'dd.MM.y' }}</span>
<mat-divider></mat-divider>
<mat-grid-list cols="10">
    <mat-grid-tile [colspan]="6">
        <mat-list>
            <mat-list-item *ngFor="let item of menu">
                <h3 matLine> {{item.name}} </h3>
                <p matLine>
                    <span> {{item.price}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">Cart</mat-grid-tile>
</mat-grid-list>