<h1 mat-dialog-title>{{ data.id ? 'Edit booking item' : 'Add booking item' }}</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="mat-item">
            <mat-label>Restaurant</mat-label>
            <mat-select (selectionChange)="onRestaurantSelected($event)" [(value)]="restaurantId">
                <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.id">
                    {{restaurant.name}}
                </mat-option>
            </mat-select>
        </div>
        <div class="mat-item">
            <mat-form-field>
                <mat-label>Booking From</mat-label>
                <input matInput [matDatepicker]="fromPicker" (focus)='onfocusFromDate()' placeholder="Choose a date"
                    formControlName="bookingFrom">
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
                <mat-error *ngIf="checkControlInvalid('bookingFrom')">{{ getErrorMsg('bookingFrom') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [ngxTimepicker]="fromTimePicker" [format]="24" [(value)]="bookingFromTime">
                <ngx-material-timepicker #fromTimePicker (timeSet)="onFromTimeSet($event)"></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div class="mat-item">
            <mat-form-field>
                <mat-label>Booking To</mat-label>
                <input matInput [matDatepicker]="toPicker" placeholder="Choose a date" formControlName="bookingTo">
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
                <mat-error *ngIf="checkControlInvalid('bookingTo')">{{ getErrorMsg('bookingTo') }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [ngxTimepicker]="toTimePicker" [format]="24" [(value)]="bookingToTime">
                <ngx-material-timepicker #toTimePicker (timeSet)="onToTimeSet($event)"></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div class="mat-item">
            <mat-checkbox matInput formControlName="isClosed">Is Closed</mat-checkbox>
        </div>
        <div class="mat-item">
            <mat-checkbox matInput formControlName="isPreBooking">Is Pre-Booking</mat-checkbox>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
</div>