/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.success-message {
  background: palevioletred;
  color: whitesmoke;
}

.error-message {
  background: darkorchid;
  color: whitesmoke;
}

.info-message {
  background: palevioletred;
  color: whitesmoke;
}

.warning-message {
  background: orange;
  color: whitesmoke;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.container {
  padding: 30px;
  display: block;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
