/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/styles/bootstrap/bootstrap.min.css';
@import './app/styles/components/space';
@import 'theme.scss';
@include angular-material-theme($my-theme);

/**
*  Colors system
*/
$primary: #109cf1 !default;
$secondary: #6c757d !default;
$danger: #f7685b !default;
$card-text: #192a3e !default;
$blue: #109cf1 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e53935 !default;
$orange: #fd7e14 !default;
$yellow: #ffb946 !default;
$green: #2ed47a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$white: #ffffff !default;
$gray-100: #f5f6f8 !default;
$gray-200: #ebeff2 !default;
$gray-300: #dee2e6 !default;
$gray-400: #c2cfe0 !default;
$gray-500: #adb5bd !default;
$gray-600: #90a0b7 !default;
$gray-700: #495057 !default;
$gray-800: #334d6e !default;
$gray-900: #212529 !default;
$black: #000000 !default;

.success-message {
  background: palevioletred;
  color: whitesmoke;
}

.error-message {
  background: darkorchid;
  color: whitesmoke;
}

.info-message {
  background: palevioletred;
  color: whitesmoke;
}

.warning-message {
  background: orange;
  color: whitesmoke;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.container-fluid {
  padding: 25px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.timepicker-overlay {
  z-index: 1001 !important;
}

.success {
  color: green;
}

.failed {
  color: red;
}

.default {
  color: black;
}

.hyperlink {
  color: $primary;
}

.mat-raised-button.mat-primary,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary;
}

.mat-raised-button.mat-accent {
  background-color: $red;
}

.mat-checkbox-label {
  white-space: normal !important;
}

@media (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 5px !important;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
